#tag_section {
/*    float: right; */
    margin: 0 0 0 66%;
    width: 33%;
    
}
#tag_section li {
    list-style-type: none;
    display: inline;
}

.smallestTag { font-size: xx-small; }
.smallTag { font-size: small; }
.mediumTag { font-size: medium; }
.largeTag { font-size: large; }
.largestTag { font-size: xx-large; } 

#heading {
   background-color: #24820D;
   border-bottom: 1px solid #333;
}

#heading h1 {
    padding-top: 10px;
    text-align: center;
    color: #fff;
}

#leftcolumn {
    float: left;
    width: 64%;
    margin-left: 10px;
    margin-right: 2em;

}

a {
    color: #000;
}

#leftcolumn a:hover {
    background-color: #24820D;
    color: #fff;
}

#tag_section a:hover {
    background-color: #24820D;
    color: #fff;
}

#recipe_section {
    border-right: solid;
}

body {
    background-color: #efe;
    font-family: sans-serif;
}

#info {
    padding-top: 1em;
    margin: 0 0 0 66%;
    background-color: #999;
}

#info h3 {
    background-color: #24820D;
    color: #fff;
    margin-bottom: 0;
}

#info p {
    color: #fff;
    margin-left: 0;
    padding-left: 0;
    margin-top: 3px;
    width: 33%
    font-weight: bold;
    font-size: large;
}