{% extends "zenlike.html" %}

{% block recipedetail %}
<div class="post">

<h1 class="title">{{recipe.name}}</h1>

<div class="contentarea">
{% autoescape off %}
{{recipe.ingredients}}
<br />
{{recipe.method}}
<br />
{{recipe.notes}}
</div>
</div>
{% endautoescape %}
{% endblock %}


{% block recipeinfo %}
{% autoescape off %}
    {{ recipe.info }}
{% endautoescape %}
{% endblock %}

{% block quickedits %}
<script type="text/javascript">
  function cbevent() {
     var cbox = document.getElementById("publiccb");
     var mess = document.getElementById("chkmess");
  // use document.location.host  for an XMLHTTPRequest to change the
  //   status in the db.
  var request = new XMLHttpRequest();
  //var googleKey     =document.location.pathname.substring(13,document.location.pathname.length);
  var googleKey = "{{recipe.key}}";
  request.open("GET","/setpublic?public="+cbox.checked+"&key="+googleKey,false);
  request.send(null);
  if (request.status != 200)  {
     cbox.checked = ! cbox.checked;
  }
  if (cbox.checked) {
       //mess.style.visibility = "hidden";
       mess.innerHTML = "public";
  } else {
     // mess.style.visibility = "visible";
     mess.innerHTML = "not public";
  }
  
}
  function addEvent() {
    var cbox = document.getElementById("addcb");
    var cmess = document.getElementById("addmess");
    var request = new XMLHttpRequest();
    var googleKey = "{{recipe.key}}";
    request.open("GET","/addremove?add="+cbox.checked+"&key="+googleKey,false);
    request.send(null)
     if (request.status != 200)  {
        cbox.checked = ! cbox.checked;
     }
    if (cbox.checked) {
       cmess.innerHTML = " Uncheck to remove from your collection";
    } else {
       cmess.innerHTML = " Check to add to your collection";
    }

}
</script>
<div class="box" style="margin-top: 50px;">
<form method="" name="ccbform" id="" action="">
{% if recipe.public  %}
<p> This recipe is <input type="checkbox" id="publiccb" name="public"
			  checked="true" onClick="cbevent()"
			  value="{{recipe.public}}" /> <span id="chkmess">public</span></p>
{% else %}
<p> This recipe is <input type="checkbox" id="publiccb"  onClick="cbevent()"
			  value="{{recipe.public}}"
			  /> <span id="chkmess"> not public</span></p>
{% endif %}
{% if recipe.add %}
<p><input type="checkbox" id="addcb" onClick="addEvent()">
	  <span id="addmess"> Check to add
	  to your collection</span></p>
{% else %}
<p><input type="checkbox" id="addcb" checked="true"
	  onClick="addEvent()"><span id="addmess"> Uncheck to remove from
	  your collection</span></p>
{% endif %}
</form>
<button type="button" onClick="javascript:window.location='/edit/{{recipe.key}}';">Edit this Recipe</button>
</div>
{% endblock %}
{% block message %}
{% endblock %}
