{%extends "zenlike.html" %}


{% block recipedetail %}
    <form method="post"  action="/saveedit/{{key}}">
<textarea name="recipe_text" cols=80 rows=25>
{{recipetext}}
</textarea>
<br />
<input type="submit" name="Save" value="Save" />
<input type="button" name="Cancel" value="Cancel" onClick="javascript:history.go(-1);">
</form>

{% endblock %}

{% block message %}
{% endblock %}
