{% extends "index.html" %}

{% block recipedetail %}
<h2>RecipeText Help Page</h2>
<p>The RecipeText processor converts recipes from almost any format on any website into our simple recipe markup language format.  This allows you to easily edit your recipes, but still display them in many different formats.  The basic structure of a recipe text file is as follows:</p>

<pre>
Title on the First Line

INGREDIENTS

- fist ingredient
- second ingredient
- ...
* Separator or Sub-heading
- another ingredient
- and another
- ...

METHOD

some paragraphs telling you what to do with the ingredients
...

Another paragraph


SERVINGS:
SOURCE:
DIFFICULTY:
PREP TIME:
RATING:
TAGS:
NOTES:

</pre>


{% endblock %}

