{% extends "zenlike.html" %}

{% block recipedetail %}
<h2>Step 1: Paste or Type Your Recipe Below</h2>
   <script type="text/javascript">
     function selectAll(id) {
          document.getElementById(id).focus();
          document.getElementById(id).select();
    }
   </script>

    <p>The importer is semi-intelligent.  It has been tested to work
    pretty well with lots of web recipe sites.  but there are some
    simple edits that you can do to help it out.  For example you can
    add the word "instructions" between the ingredients and
    instructions if it is missing.  If there are multiple important
    things on a single line like rating and cook time you can break
    them into two lines to help out.  You will have a chance to make
    any last minute changes to the imported recipe on the next screen.</p>
    <form method="post" id="importform" action="/import">
      <textarea   name="import_text" id="mytxt" cols=80 rows=25
		  onClick="selectAll('mytxt');">

		</textarea>
     <input type="submit" name="Import" value="Import" />
    </form>

<p>The general format the importer looks for is:</p>
<pre>
Title on the first line

Ingredients

fist ingredient
second ingredient
...

Instructions

some paragraphs telling you what to do with the ingredients
...

Other Info such as
servings
source
rating
tags
prep time
difficulty
Notes
</pre>

<p>If the importer really messes up, please send me a copy of the
  text you pasted and I'll be happy to try and improve the importer.</p>

{% endblock %}

{% block message %}
{% endblock %}
