{% extends "zenlike.html" %}

{% block recipedetail %}
<h2>Welcome to RecipeText</h2>
<p>RecipeText is a web service for storing your recipes and syncing those recipes with your iPad.  The premise is simple, most people find recipes today on the web but don't like to remember multiple passwords and have their recipe collection spread out over a bunch of websites. It is still nice to have one place to go to get your recipes.  With RecipeText you can collect your recipes, share them with your friends, and sync them to your iPad for use wherever you are.</p> 
<p>RecipeText was also inspired by the growing number of applications that use plain old text as the major metaphor, so, your recipes are easy to edit, and reformat.  Too many recipe programs force you into a particular way of doing things and storing your recipes.  With RecipeText you can format your recipes how you want to, using our simple text based <a href="/help">recipe markup language.</a></p>

<h4>Collect</h4>

<p>When you find a recipe you want to remember just copy and paste it into the import screen here and we'll take care of the rest.</p>  
<p>Once you have imported a recipe you can edit it at any time to add notes, or tweak the ingredients.  Our editing format is a very simple text based format so you can have your recipes look almost any way you want.</p>

<h4>Share</h4>
<p>How many times does someone ask you for the recipe for something good you've made?  With RecipeText it is easy to point them to your own personal website where they can browse and/or copy your own recipes.  With RecipeText you can just point your friends at <strong>http://recipepad.appspot.com/public/{{public_link|default:"xxxyyy"}}</strong>, and they can see your collection.  If you have some recipes that you want to have on RecipeText but don't want to share, you can mark those recipes as private and you mother will not even be able to see them.  If you don't like the default link you can edit your <a href="/settings">settings</a> to change your link to something more easy to remember. </p>

<p>RecipeText uses Google usernames/passwords for you to login, so if you have a gmail account you are all set to use RecipeText</p>

<h4>Sync</h4>
<p>Once you have some recipes in your collection you can sync them to the iPad software, currently in development.  This lets you have access to your recipes wherever you are.</p>

<h2>Beta</h2>
RecipeText is still very much in Beta.  The iPad program is in an even earlier stage of development.  I would appreciate feedback and bug reports very much.  Please contact me <a href="mailto:bmiller@bonelakesoftware.com">Here:  bmiller@bonelakesoftware.com</a>
{% endblock %}

{% block message %}
<div class="box">
<h4>Get Started</h4>
<img src="/static/images/soup.jpg" class="left" alt="Random foliage" />
<p>Returning Users Click on <a href="/myindex">My Recipes</a> to see your collection.</p>
<p>New Users Click on <a href="/import">Import</a> to login and start your collection.</p>
</div>
{% endblock %}
