{%extends "zenlike.html" %}


{% block recipedetail %}
<h2>Step 2:  Edit and Save</h2>
<p>Check the reformatted recipe below and make any edits you like.
  Now is a good time to add your own tags.</p>
<form method="post"  action="/save">
  <textarea name="new_recipe" cols=80 rows=25>
{{recipetext}}
  </textarea>

  <input type="submit" name="Save" value="Save" />
</form>
<p>Here is the original text of the recipe you are importing.  If you
  see anything missing, you can copy and paste into the recipe above
  before you save it.</p>


<pre class="original">
{{originaltext}}
</pre>

{% endblock %}

{% block message %}
{% endblock %}
