<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>Recipe Index</title>
    <meta name="author" content="Brad Miller">
    <link rel="stylesheet" href="/static/recstyle.css" type="text/css" media="screen" />
  </head>

  <body>
    <div id="leftcolumn">
    <h1>List of Recipes</h1>
    <div id="recipe_section">
    <ul>
    {% for r in recipes %}
        <li><a href="/showrecipe/{{r.key}}">{{r.title}}</a></li>
    {% endfor %}
    </ul>
    </div>
    </div>
    <div id="tag_section">
    <h1>Tags</h1>
    <p><a href="/static/import.html">Import a Recipe</a></p>
    </div>
    <hr>
    <address>
      <a href="mailto:bmiller@loggerhead.local">Brad Miller</a>,
      11 Aug 2010
    </address>
  </body>
</html>
