{% extends "zenlike.html" %}

{% block recipelist %}

				<div class="post">
					<h1>Recipe List</h1>
					<div class="contentarea">
					  <ul class="linklist">
						    {% for r in recipes %}
                                                  <li><a href="/showrecipe/{{r.key}}">{{r.title}}</a></li>
                                                    {% endfor %}
					</ul>
					</div>  <!-- contentarea -->
				</div> <!-- post -->

{% endblock %}


{% block taglist %}

			<div>
				<h4>Tag List</h4>
				<div class="contentarea">
					<ul class="linklist">
					  {% for t in tags %}
					  <li><a href="/showtag/{{t.0}}">{{t.0}} ({{t.1}})</a></li>
					  {% endfor %}
					</ul>
				</div>
			</div>

{% endblock %}
