{% extends "zenlike.html" %}


{% block recipedetail %}
<h2>Edit Your Settings</h2>

{% if errormess %}
<p>{{errormess}}</p>
{% endif %}
<form method="get" id="" action="/savesettings">
  <p>The following URL will allow your friends to see your recipe collection:  http://recipepad.appspot.com/public/
  <input type="text" name="nickname" value="{{public_link}}" /></p>
  <input type="submit" name="save" value="save" />
</form>
{% endblock %}
