<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

	zenlike1.0 by nodethirtythree design
	http://www.nodethirtythree.com

-->
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<title>RecipeText</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" type="text/css" href="/static/default.css" />
</head>
<body>

<div id="upbg"></div>

<div id="outer">


	<div id="header">
		<div id="headercontent">
			<h1>RecipeText<sup>1.0</sup></h1>
			<h2>Collect, Share, Sync</h2>
		</div>
	</div>

	<div id="welcome">
			{% if nickname %}
                        Welcome {{nickname}}
                        {% endif %}

        </div>

	<form method="post" action="/search">
		<div id="search">
			<input type="text" class="text" maxlength="64" name="keywords" />
			<input type="submit" class="submit" value="Search" />
		</div>
	</form>


	<div id="headerpic"></div>

	
	<div id="menu">
		<!-- HINT: Set the class of any menu link below to "active" to make it appear active -->
		<ul>
			<li><a href="/" class="active">Home</a></li>
			<li><a href="/myindex" class="active">My Recipes</a></li>
			<li><a href="/beginimport" class="active">Import</a></li>
			<li><a href="http://bonelake.blogspot.com" class="active">Blog</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Contact</a></li>
			<li><a href="/help" class="active">Help</a></li>
			<li><a href="/settings" class="active">Settings</a></li>
                        {% if nickname %}
			<li><a href="{{logout_url}}" class="active">Logout</a></li>
			{% else %}
			<li><a href="{{login_url}}" class="active">Login</a></li>
                        {% endif %}
		</ul>
	</div>
	<div id="menubottom"></div>

	
	<div id="content">

		<!-- Normal content: Stuff that's not going to be put in the left or right column. -->
		<div id="normalcontent">

		</div>


		<!-- Primary content: Stuff that goes in the primary content column (by default, the left column) -->
		<div id="primarycontainer">
			<div id="primarycontent">
				<!-- Primary content area start -->
                                {% block recipedetail %}
				{% endblock %}

				{% block recipelist %}
                                {% endblock %}
		

				<!-- Primary content area end -->
			</div>
		</div>

		
		<!-- Secondary content: Stuff that goes in the secondary content column (by default, the narrower right column) -->
		<div id="secondarycontent">
			<!-- Secondary content area start -->
			
			<!-- HINT: Set any div's class to "box" to
			encapsulate it in (you guessed it) a box -->
                       {% block message %}
			<div class="box">
				<h4>Welcome</h4>
				<div class="contentarea">
					<img src="/static/images/pic2.jpg" class="left" alt="Random foliage" />
					<p>Welcome to RecipeText,
					Collect your recipes online
					and sync them to your iPad.</a>.</p>
				</div>
			</div>
		        {% endblock %}

		        {% block recipeinfo %}
                        {% endblock %}
			{% block taglist %}
			{% endblock %}
		        {% block quickedits %}
		        {% endblock %}

			<!-- Secondary content area end -->
		</div>


	</div>

	<div id="footer">
			<div class="left">&copy; 2010 RecipeText.com All rights reserved.</div>
			<div class="right">Design by <a href="http://www.nodethirtythree.com/">NodeThirtyThree Design</a></div>
	</div>
	
</div>

</body>
</html>
